@font-face {
  font-family: "Museo";
  src: url("/assets/fonts//museo/MuseoSans-300-1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Museo";
  src: url("/assets/fonts//museo/MuseoSans-500-1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Museo";
  src: url("/assets/fonts//museo/MuseoSans-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
