@import "./fonts.scss";
@import "./variables.scss";
@import "./utils/index.scss";

html,
body,
span,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
.nav-lin {
  font-family: "proxima_nova", sans-serif !important;
  scroll-behavior: smooth;
}
.f-bold {
  font-family: "proxima_nova_thextrabold", sans-serif !important;
}
.f-semibold {
  font-family: "proxima_nova_semibold", sans-serif !important;
}

.btn-imp-secondary {
  border-radius: 15px;
  color: #000000;
  text-transform: capitalize;
  background-color: $SECONDARY-COLOR;
}

.text-primary {
  color: $PRIMARY-COLOR !important;
}
.text-secondary {
  color: $SECONDARY-COLOR !important;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.footer {
  background-color: $PRIMARY-COLOR !important;
}

.bg-primary {
  background-color: $PRIMARY-COLOR !important;
}
.calculator-view {
  background: linear-gradient(180deg, #31761b 0%, #154805 118.75%);
  padding: 2rem 0px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1228px;
  }
}
.btn {
  transition: 0.5s;
}
.btn:hover,
.btn:focus {
  box-shadow: inset 0 -3.5em 0 0 #0000002d;
}
.ht-deals {
  font-weight: 600;
  font-size: 30.4466px;
  line-height: 37px;
  color: $PRIMARY-COLOR;
  display: inline-block;
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 7px 12px;
}

.sect-heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: $PRIMARY-COLOR;
}
.btnarrowlink {
  padding-right: 46px;
  position: relative;
  &:hover:before {
    right: 10px;
    width: 30px;
  }
  &:hover:after {
    right: 7px;
  }
  &:before {
    content: "";
    width: 10px;
    height: 0.2rem;
    background: white;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 21px;
    transition: all 0.3s ease;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-color: transparent transparent transparent white;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    position: absolute;
    top: 50%;
    margin-top: -4.6px;
    right: 18px;
    transition: all 0.3s ease;
  }
}
.sect-link {
  font-size: 18px;
  line-height: 22px;
  color: $PRIMARY-COLOR;
  position: relative;
  span {
    padding-right: 43px;
  }
  &:hover {
    color: $PRIMARY-COLOR;
  }
  &:hover:before {
    right: 10px;
    width: 30px;
  }
  &:hover:after {
    right: 7px;
  }
  &:before {
    content: "";
    width: 10px;
    height: 0.2rem;
    background: $PRIMARY-COLOR;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 21px;
    transition: all 0.3s ease;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-color: transparent transparent transparent $PRIMARY-COLOR;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    position: absolute;
    top: 50%;
    margin-top: -4.6px;
    right: 18px;
    transition: all 0.3s ease;
  }
}
.sect-direct {
  position: relative;
  &::after {
    content: "";
    background: linear-gradient(45deg, $PRIMARY-COLOR, transparent);
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -13px;
  }
}

.power-service {
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  color: $PRIMARY-COLOR;
  text-transform: uppercase;
}
.complete-sol {
  background: #cbdfab;
  padding: 75px 46px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40rem;
  // cursor: pointer;
  transition: 0.4s all;
}
.complete-sol:hover {
  transform: scale(1.04) translateY(-12px);
  box-shadow: 1px 7px 16px 0px #00000026;
}
.grid-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: $PRIMARY-COLOR;
}
.grid-descrip {
  font-weight: 600;
  font-size: 12.3529px;
  line-height: 22px;
  text-align: center;
  color: #121113;
}
.solar-img-div {
  background: #ddeac8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}
.solardd {
  height: 20rem;
  background-color: #e1edcf;
}
.invertersys {
  height: 20rem;
  background-color: #f4f8ed;
  display: flex;
  padding: 0px 58px;
}
.shop-all {
  height: 20rem;
  background-color: #cbdfab;
  a.btn {
    color: #cbdfab;
  }
}
a.text-primary:focus,
a.text-primary:hover {
  color: $PRIMARY-COLOR !important;
}
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: $PRIMARY-COLOR !important;
}
.section {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.media {
  display: flex;
  align-items: flex-start;
  .media-body {
    flex: 1;
  }
}

.position-sticky {
  position: sticky !important;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }
  .navbar-nav .nav-item {
    margin-right: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
  }
}
.navbar.navbar-main {
  z-index: 99999;
}
.top-0 {
  top: 0;
}
.profile-page .card-profile .card-profile-image img,
.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}
.bg-white {
  background-color: #fff !important;
}
.navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05px;
  display: inline-block;
  padding-top: 0.0625rem;
  padding-bottom: 0.0625rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand img {
  height: 30px;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-nav .nav-link {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: normal;
  letter-spacing: 0;
  transition: all 0.15s linear;
}
.navbar-nav {
  align-items: center;
}
.bg-white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.text-head {
  font-weight: 800;
  font-size: 4rem;
  line-height: 69px;
}
.section-pd {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.card-specta {
  text-align: center;
  background: linear-gradient(
    93.1deg,
    #f9f9f9 -10.48%,
    #f8e6ec 53.94%,
    #f9f9f9 118.89%
  );
  border-radius: 40px;
  .head {
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    color: #760739;
  }
}
.makeRequest {
  background: #dceac7;
  padding: 66px 0px;
}
.text-dark {
  color: black;
}
.categ-section {
  background-image: url("/images/category-header.svg");
  background-size: cover;
  padding: 70px 0px;
}
.categoryHeadd {
  font-size: 47.6654px;
  line-height: 52px;
  color: $PRIMARY-COLOR;
}
.category-select {
  background: $PRIMARY-COLOR;
  border-radius: 10px;
  display: inline-block;
  padding: 14px;
  margin-top: 23px;
  span {
    color: $SECONDARY-COLOR;
    padding: 0px 15px;
  }
  select {
    display: inline-block;
    width: unset;
    background: transparent;
    color: white;
    border: 0px;
    margin-right: 12px;
    border-left: 1px solid;
    border-radius: 0px;
  }
  select.form-control:focus {
    background: transparent;
    border-left: 1px solid;
    color: white;
  }
}
.rec-heading {
  font-weight: 600;
  font-size: 31px;
  line-height: 37px;
  color: $PRIMARY-COLOR;
}
.ant-pagination-item-active,
.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: $PRIMARY-COLOR;
  background: $PRIMARY-COLOR;
  color: white;
}
.filterbtn {
  background: #cbdfab;
  border-radius: 6px;
  padding: 9px 22px;
  color: #255e13;
}
.sortRadio {
  .ant-radio-wrapper {
    display: block;
    .ant-radio-checked .ant-radio-inner {
      border-color: $PRIMARY-COLOR;
      &::after {
        background-color: $PRIMARY-COLOR;
      }
    }
    .ant-radio-checked::after {
      border: 1px solid $PRIMARY-COLOR;
    }
  }
}
.ant-slider-track,
.ant-slider:hover .ant-slider-track {
  background-color: $PRIMARY-COLOR;
}
.ant-slider-handle,
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: $PRIMARY-COLOR;
}
.bready {
  padding-bottom: 17px;
  border-bottom: 1px solid #0000001f;
  margin-bottom: 70px;
}
.productHeadd {
  font-size: 36.6654px;
}
.quantityInput {
  input {
    border: 2px solid;
    background-color: rgb(244, 248, 237);
    font-family: "proxima_nova_semibold", sans-serif !important;
  }
}
.productImageView {
  width: 85%;
  position: relative;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain;
}
.paySummary {
  background: #353535;
  color: white;
  font-size: 16px;
  padding: 10px 19px;
}
.btn-checkout {
  border-radius: 0px;
  box-shadow: 0px 0px;
  background: #353535;
  width: 100%;
  color: white;
  margin-top: 21px;
}
.btn-checkout:hover,
.btn-checkout:focus {
  color: white;
  background: #696969;
}
.p-checkout {
  font-size: 15px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #353535;
  margin-bottom: 25px;
  span {
    float: right;
  }
}
.div-demarc {
  border-top: 1px solid #353535;
  padding-top: 18px;
}
.remove-btn {
  text-decoration: underline;
  color: darkgray;
}
.cart-items {
  border-bottom: 1px solid gainsboro;
  padding: 36px 0px;
}
.cart-itemimage {
  height: 184px;
  margin-bottom: 37px;
}
.dropdownmarg {
  margin: 1.5rem;
}
.btnviewmore {
  margin-left: 3rem;
}
.btn-loading {
  display: inline-block !important;
  height: 21px;
  margin: 0px !important;
}
@media only screen and (max-width: 768px) {
  .text-head {
    font-size: 2.8rem;
    line-height: 50px;
  }
  .card-specta .head {
    padding: 10px;
  }
  .hide-sm {
    display: none;
  }
  .mb-sm {
    margin-bottom: 32px;
  }
  .margin-non {
    margin: 0px;
  }
  .power-service {
    font-size: 23px;
    img {
      margin: 0;
    }
  }
  .invertersys {
    height: 430px;
  }
  .text-center-sm {
    text-align: center;
  }
  .sect-heading {
    font-size: 20px;
  }
  .productDiv .image-view .cart-icon {
    right: 42px;
  }
  .complete-sol {
    height: 30rem;
  }
  .complete-sol.solardd {
    height: 17rem;
  }
  .complete-sol.shop-all {
    height: 17rem;
  }
  .navbar-collapse.collapse {
    display: none;
  }
  .navbar-collapse.collapse.show {
    display: block;
  }
  .cat-img {
    height: 160px;
    margin-bottom: 26px;
  }
  .rec-heading {
    font-size: 24px;
  }
  .productImageView {
    width: auto;
    height: 199px;
    margin: 0;
    margin-bottom: 37px;
  }
  .dropdownmarg {
    margin: 0.6rem;
  }
  .btnviewmore {
    margin-left: 0px;
  }
}
