a.bg-primary {
  &:focus {
    background-color: #324cdd !important;
  }
  &:hover {
    background-color: #324cdd !important;
  }
}
button.bg-primary {
  &:focus {
    background-color: #324cdd !important;
  }
  &:hover {
    background-color: #324cdd !important;
  }
}
.bg-secondary {
  background-color: #f4f5f7 !important;
}
a.bg-secondary {
  &:focus {
    background-color: #d6dae2 !important;
  }
  &:hover {
    background-color: #d6dae2 !important;
  }
}
button.bg-secondary {
  &:focus {
    background-color: #d6dae2 !important;
  }
  &:hover {
    background-color: #d6dae2 !important;
  }
}
.bg-success {
  background-color: #2dce89 !important;
}
a.bg-success {
  &:focus {
    background-color: #24a46d !important;
  }
  &:hover {
    background-color: #24a46d !important;
  }
}
button.bg-success {
  &:focus {
    background-color: #24a46d !important;
  }
  &:hover {
    background-color: #24a46d !important;
  }
}
.bg-info {
  background-color: #11cdef !important;
}
a.bg-info {
  &:focus {
    background-color: #0da5c0 !important;
  }
  &:hover {
    background-color: #0da5c0 !important;
  }
}
button.bg-info {
  &:focus {
    background-color: #0da5c0 !important;
  }
  &:hover {
    background-color: #0da5c0 !important;
  }
}
.bg-warning {
  background-color: #fb6340 !important;
}
a.bg-warning {
  &:focus {
    background-color: #fa3a0e !important;
  }
  &:hover {
    background-color: #fa3a0e !important;
  }
}
button.bg-warning {
  &:focus {
    background-color: #fa3a0e !important;
  }
  &:hover {
    background-color: #fa3a0e !important;
  }
}
.bg-danger {
  background-color: #f5365c !important;
}
a.bg-danger {
  &:focus {
    background-color: #ec0c38 !important;
  }
  &:hover {
    background-color: #ec0c38 !important;
  }
}
button.bg-danger {
  &:focus {
    background-color: #ec0c38 !important;
  }
  &:hover {
    background-color: #ec0c38 !important;
  }
}
.bg-light {
  background-color: #adb5bd !important;
}
a.bg-light {
  &:focus {
    background-color: #919ca6 !important;
  }
  &:hover {
    background-color: #919ca6 !important;
  }
}
button.bg-light {
  &:focus {
    background-color: #919ca6 !important;
  }
  &:hover {
    background-color: #919ca6 !important;
  }
}
.bg-dark {
  background-color: #212529 !important;
}
a.bg-dark {
  &:focus {
    background-color: #0a0c0d !important;
  }
  &:hover {
    background-color: #0a0c0d !important;
  }
}
button.bg-dark {
  &:focus {
    background-color: #0a0c0d !important;
  }
  &:hover {
    background-color: #0a0c0d !important;
  }
}
.bg-default {
  background-color: #172b4d !important;
}
a.bg-default {
  &:focus {
    background-color: #0b1526 !important;
  }
  &:hover {
    background-color: #0b1526 !important;
  }
}
button.bg-default {
  &:focus {
    background-color: #0b1526 !important;
  }
  &:hover {
    background-color: #0b1526 !important;
  }
}
.bg-neutral {
  background-color: #fff !important;
}
a.bg-neutral {
  &:focus {
    background-color: #e6e6e6 !important;
  }
  &:hover {
    background-color: #e6e6e6 !important;
  }
}
button.bg-neutral {
  &:focus {
    background-color: #e6e6e6 !important;
  }
  &:hover {
    background-color: #e6e6e6 !important;
  }
}
.bg-darker {
  background-color: #000 !important;
}
a.bg-darker {
  &:focus {
    background-color: #000 !important;
  }
  &:hover {
    background-color: #000 !important;
  }
}
button.bg-darker {
  &:focus {
    background-color: #000 !important;
  }
  &:hover {
    background-color: #000 !important;
  }
}

.text-red {
  color: #f5365c !important;
}
a.text-red:focus,
a.text-red:hover {
  color: #d40b33 !important;
}
.text-white {
  color: #fff !important;
}
a.text-white:focus,
a.text-white:hover {
  color: #d9d9d9 !important;
}
.text-gray {
  color: #8898aa !important;
}
